// style.scss
$blue = rgb(65,191,225);
$grey = #9FA1A4;

body {background: black;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-origin: top;
	color: white;
	font-family: minion pro;
	letter-spacing: .0em;
	padding: 0; 
	margin: 0;
	}
	
a {font-size: 1.4em;
	color: white;
	text-decoration: none;
	letter-spacing: .1em;
	font-family: copperplate;
	font-weight: 200;
	}

a:hover { color: $blue; }

h1 { font-size: 4em; color: $grey; padding: 0; margin: 0; line-height: 100%; font-weight: 400; margin-top: 10%;}

h2 { font-size: 2em; font-variant: small-caps; text-align: center; margin: 0; padding-top: 5%; margin-bottom: 1%;}

h4 { font-variant: small-caps; }

h5 { text-align: center; font-size: 1em; font-style: italic; font-weight: 400;}

p { }

table.story td { padding: 2%; vertical-align: middle;}

img.icon { border-radius: 7%; moz-border-radius: 7%; webkit-border-radius: 7%; padding: 5%; }

header { text-align: center; width: 100%; }
	
header img { width: 100px; height: 100px; }

header div { width: 100%; text-align: center; }

header a { display: inline-block; width: 200px; vertical-align: middle; text-align: center;}

nav { width: 100%; position: fixed; top: 0px; background: url('../images/trans_bg.png') top left repeat; text-align: center; }

div.main { margin-left: auto; margin-right: auto; width: 75%; text-align: center; border-top: solid 1px $grey; border-bottom: solid 1px $grey; }

/* Icon Link Stuff */
div.icons { text-align: center; margin-left: auto; margin-right: auto; background: $grey; position: relative; top: -10px;}

div.icon { height: 100%; text-align: center; background: url('../images/trans_bg.png') top left repeat; opacity: .6; }

div.icon span { position: relative; top: 12%; }

div.icon:hover {background: url('../images/logo_white.png') center no-repeat; background-size: 90% 100%; opacity: .7; }

a#story {background: url('../images/icon_3.jpg'); background-size: 100% 100%; }
	
a#furn {background: url('../images/DSCN1528.jpg'); background-size: 100% 100%; }
	
a#recent {	background: url('../images/bed.png'); background-size: 100% 100%; }

a.icon { display: inline-block; width: 250px; height: 200px; color: white; margin: .25%; margin-top: .5%; margin-bottom: .5%;}

a.icon:hover { color: black; }
	
/* End Icon Stuff */	

/* Gallery */
div.links { margin-left: auto; margin-right: auto; width: 90%; }
div.links img { width: 15%; height: 15%; border-radius: 5%; moz-border-radius: 5%; webkit-border-radius: 5%; }

/* Navigation Menu */

/* 
	LEVEL ONE
*/
ul.dropdown                         { display: inline-block; width: 200px; word-wrap: break-word; list-style: none; text-align: center; padding: 0; margin: 0;}
ul.dropdown li                      { text-align: center; }
ul.dropdown a:hover		            { color: rgb(0,145,218); }
ul.dropdown a:active                {  }
ul.dropdown li a                    { display: inline-block; width: 200px; }
ul.dropdown li a:hover 				{ color: $blue; }					
ul.dropdown li:last-child           { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { position: relative; }
ul.dropdown li.hover				{ }
ul.dropdown li.hover a              { /* background: url('../images/trans_bg.png') top left repeat;*/ border-color: #9FA1A4;}

/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ text-align: center; list-style: none; width: 100%; visibility: hidden; position: absolute; right: 2%;}
ul.dropdown ul li 					{ background: black; border-top: solid 1px $grey; width: 100%; padding: 2%; }
ul.dropdown ul li:last-child 		{ border-bottom: solid 1px $grey; }	
						  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-top: none; border-bottom: none; width: 100%; display: inline-block; text-align: center; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }

/* End Navigation Menu */

/* Cycle2 */
.cycle-slideshow { width: 100%; z-index: 0; margin: 0; padding: 0;}
.cycle-slideshow img { width: 100%; height: 500px; }

#prev,#next { display: block; color: white; position: absolute; bottom: 1%; background: $grey; border-radius: 50%; width: 5%; z-index: 1000; text-align: center;}
#next { left: 95%; }
#prev:hover,#next:hover { color: white; }

/* overlay */
.cycle-overlay { position: absolute; bottom: 0; z-index: 600; padding-left: 1%; }
	
/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 0%;
}

.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: $blue;}
.cycle-pager > * { cursor: pointer;}

/* End Cycle 2 */


footer { color: $grey;
	width: 100%;
	background: black;
	text-align: center;
	bottom: 0;
	}
	
footer p { font-size: 1em; padding: 0; margin: 0; position: relative; left: 0; top: 0; }

footer h3 { font-size: 1.5em; font-variant: small-caps; padding: 0; margin: 0; }
